appnope==0.1.2
backcall==0.1.0
blis==0.7.4
boto==2.49.0
boto3==1.9.101
botocore==1.12.101
bz2file==0.98
catalogue==2.0.1
certifi==2018.11.29
chardet==3.0.4
click==7.1.2
contextvars==2.4
cymem==2.0.5
dataclasses==0.8
decorator==4.3.2
docopt==0.6.2
docutils==0.14
elasticsearch==7.7.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.0.0/en_core_web_trf-3.0.0-py3-none-any.whl
et-xmlfile==1.0.1
filelock==3.0.12
ftfy==5.8
gensim==3.7.1
idna==2.8
immutables==0.15
importlib-metadata==3.3.0
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.13.3
Jinja2==2.11.3
jmespath==0.9.4
joblib==1.0.1
MarkupSafe==1.1.1
murmurhash==1.0.5
nltk==3.4
numpy==1.16.1
openpyxl==3.0.7
packaging==20.9
pandas==1.1.5
parso==0.3.4
pathy==0.3.6
pep517==0.10.0
pexpect==4.6.0
pickleshare==0.7.5
pip-tools==6.0.1
plac==1.1.3
preshed==3.0.5
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pydantic==1.7.3
Pygments==2.3.1
pykwalify==1.7.0
pyparsing==2.4.7
python-dateutil==2.8.0
pytz==2021.1
regex==2020.11.13
requests==2.21.0
ruamel.yaml==0.15.100
s3transfer==0.2.0
sacremoses==0.0.43
scikit-learn==0.24.1
scipy==1.2.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
smart-open==1.8.0
spacy==3.0.1
spacy-alignments==0.7.2
spacy-legacy==3.0.1
spacy-transformers==1.0.1
srsly==2.4.0
thinc==8.0.1
threadpoolctl==2.1.0
tokenizers==0.9.4
toml==0.10.2
torch==1.7.1
torchcontrib==0.0.2
tqdm==4.54.1
traitlets==4.3.2
transformers==4.2.2
typer==0.3.2
typing==3.6.6
typing-extensions==3.7.4.3
urllib3==1.24.1
wasabi==0.8.2
wcwidth==0.1.7
zipp==3.4.0